main {
    padding: 20px;
    text-align: center;
}

main h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.serviciosMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.servicio:nth-child(odd) {
    background-color: #f0f0f0;
}

.servicio:nth-child(even) {
    background-color: #ffffff; 
}

.servicio {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #ff721b;
}

.servicio:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.servicio h3 {
    font-size: 25px;
    color: #ff721b;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.servicio p {
    font-size: 16px;
    color: #000; 
    font-weight: bold; 
    margin: 5px 0;
}

.servicio ul {
    list-style: none;
    padding: 0;
    margin: 15px 0;
}

.servicio ul li {
    font-size: 14px;
    color: #444;
    margin: 5px 0;
}

.servicio button {
    background-color: #ff721b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0 auto; 
    transition: background-color 0.3s ease;
    width: fit-content; 
}

.servicio button:hover {
    background-color: #c95a16;
}

.servicio a {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #ff721b;
    text-decoration: none;
}

.servicio a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
/* Hacer el contenedor de las tarjetas responsivo */
.serviciosMain {
    display: flex;
    flex-wrap: nowrap; /* Evita que las tarjetas se ajusten en varias filas */
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    gap: 20px;
    margin-top: 20px;
    padding: 10px; /* Agrega un poco de espacio interno para mejor visualización */
}

.servicio {
    flex: 0 0 auto; /* Asegura que las tarjetas mantengan su tamaño */
    width: 300px; /* Mantén el ancho fijo para las tarjetas */
}
}